h1{text-align: center;font-size: 35px;color: white;font-family: 'Francois One', sans-serif;}
a{color: white;font-size: 20px;font-family: 'Francois One', sans-serif;}
body{background-color:  steelblue}
.Center{float: left}
.Img{float: left;
margin-left: auto}